<header>
  
  <div><h1>SANDBOX</h1></div>
  <br>
  <br>
  <br>

  <p align-text="left">Coming together is a beginning. Keeping together is progress. Working </p>
  <p align-text="left">together is success. Work faster with our design collaboration</p>
  <p> working spaces</p>

  <br>

  <p align-text="left">Think, Alone we can do so little, together we can do so much? So Do We!</p>
  <p> Get Motivated Today😊</p>
  <h3 align-text="left"><i>Having account? If not sign up!</i></h3>
  <button class="demo">LOGIN</button>
<button class="signup">SIGNUP</button>
</header>

<div class="row">
  <div class="item-holder">
    <div class="item">
      <div class="image"></div>
      <div class="text">
        <h2>UX-UI design with Pirabu</h2>
        <p>UX/UI Designer & front-end developer based in Paris.</p>
      </div>
      <a href="https://www.pirabu.com/" target="_blank" >Visit</a>
    </div>
  </div>
  <div class="item-holder">
    <div class="item">
      <div class="image"></div>
      <div class="text">
        <h2>UX-UI design with Pirabu</h2>
        <p>UX/UI Designer & front-end developer based in Paris.</p>
      </div>
      <a href="https://www.pirabu.com/" target="_blank" >Visit</a>
    </div>
  </div>
  <div class="item-holder">
    <div class="item">
      <div class="image"></div>
      <div class="text">
        <h2>UX-UI design with Pirabu</h2>
        <p>UX/UI Designer & front-end developer based in Paris.</p>
      </div>
      <a href="https://www.pirabu.com/" target="_blank" >Visit</a>
    </div>
  </div>
  <div class="item-holder">
    <div class="item">
      <div class="image"></div>
      <div class="text">
        <h2>UX-UI design with Pirabu</h2>
        <p>UX/UI Designer & front-end developer based in Paris.</p>
      </div>
      <a href="https://www.pirabu.com/" target="_blank" >Visit</a>
    </div>
  </div>
</div>

<div class="about">
  <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam perspiciatis ducimus exercitationem? Odio, voluptatem cupiditate.</h1>
  <div class="icons">
    <img src="http://res.cloudinary.com/dsidgjfin/image/upload/v1535070945/xd_icon_rgsxe2.png" alt="adobe xd">
    <img src="https://res.cloudinary.com/dsidgjfin/image/upload/v1535070944/sketch_icon_qppgex.png" alt="sketch">
  </div>
</div>

<div class="team">
  <h1>Our resources are crafted in-house by our talneted team ou desginers from carious background </h1>
  <div class="members">
    <div class="person">
      <img src="http://res.cloudinary.com/dsidgjfin/image/upload/v1535070940/david_coyle_img_mbzczv.png" alt="profile icon">
      <h3>Mark Sweet</h3>
      <p>4 years of visiual desgin</p>
    </div>
    <div class="person">
      <img src="http://res.cloudinary.com/dsidgjfin/image/upload/v1535070940/mary_hutton_img_ufnplv.png" alt="profile icon">
      <h3>Marry Jhon</h3>
      <p>7 years of UI desgin</p>
    </div>
    <div class="person">
      <img src="http://res.cloudinary.com/dsidgjfin/image/upload/v1535070940/james_hillman_img_mjvpjx.png" alt="profile icon">
      <h3>Liwaa Maawad</h3>
      <p>8 years of UI/Ux desgin</p>
    </div>
  </div>
</div>



